.sub-header {
    height: 10px;
}
.leftdiv {
    float: left;
    width: 50%;
}
.rightdiv {
    float: right;
    width: 50%;
    text-align: right;
}
.page-header {
    background-color: #d3d3d3;
}
.page-header h3 {
    padding: 5px;
}